:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;
  min-height: 100dvh;
  margin: 0;
  padding: 0.5rem !important;
  padding-bottom: calc(0.5rem + var(--safe-area-inset-bottom)) !important;
  box-sizing: border-box;
}

:global {
  html {
    --navbar-height: 5.375rem;
    --color-violet: #4200b3;
    --color-blue: #00b3ff;
    --safe-area-inset-bottom: calc(var(--tg-safe-area-inset-bottom, 0rem) + var(--tg-content-safe-area-inset-bottom, 0rem));
    --safe-area-inset-top: calc(var(--tg-safe-area-inset-top, 0rem) + var(--tg-content-safe-area-inset-top, 0rem));
  }
}
